<div id="<%= dom_id flight %>">
  <p>
    <strong>Departing:</strong>
    <%= flight.departing %>
  </p>

  <p>
    <strong>Arriving:</strong>
    <%= flight.arriving %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= flight.date %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= flight.time %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= flight.price %>
  </p>

</div>
